html, body {
  background: url('../img/skull.jpg') center center no-repeat;
  height: 100%;
  background-size: cover;
}

#spill {
  text-align: center;
}

h3 {
  font-family:'Oswald';
  color: #ffffff;
  margin-top: 20px;
  font-size: 48px;
}

ul, li, a {
  font-family:'Oswald';
  color: #ffffff;
  font-size: 24px;
}

.container {
  margin-top: 40px;
  text-align: center;
}

h1 {
  font-family:'Oswald';
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  margin-top: 55px;
  font-size: 40px;
  opacity: 1;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}

#message {
  font-family:'Oswald';
  text-align: center;
  margin-top: 55px;
  font-size: 40px;
  opacity: 1;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}

button {
  font-family:'Oswald';
  color: white;
}

button:active {
  background-color: #3e8e41;
  box-shadow: 0 8px #666;
  transform: translateY(6px);
}
